In [5]:
import pandas as pd
df = pd.read_excel("Orbit_9am_Term_1.xlsx", sheetname="pandas")
df

,Date,Week,Big Idea,Talk,Review,Memory Verse,Prayer,Activity,Game- Energy,Game- Get to know someone
0,2018-04-02 00:00:00,1,The King worth following - Luke 5:1-11,Jamie,Jamie,Jamie,Jamie,Jamie,Jamie,Jamie
1,2018-11-02 00:00:00,2,The Majestic King - Matthew 17:1- 9,Jamie,Jamie,Jamie,Jamie,Aysha- Orbit Banner,Hugh,Hugh
2,18/2,3,The Miraculous King - Mark 1 + 2,Hugh,Hugh,Jamie,Jamie,Verity,Verity,Verity
3,25/2,4,The Trusted King - Matthew 14:22-33,Jamie,Jamie,Verity,Verity,Hugh,Hugh,Hugh
4,2018-04-03 00:00:00,5,The Real King - Matthew 16:13-28,Verity,Verity,Hugh,Hugh,Jamie,Aysha?,Verity
5,2018-11-03 00:00:00,6,The Servant King -John 13:1-38,Jamie,Jamie,Verity,Verity,Hugh,Hugh,Aysha?
6,18/4,7,"The Betrayed King - Matthew 26:31-58, 69-75",Hugh,Hugh,Jamie,Hugh,Verity,Jamie,Vertity
7,25/4,8,The Rejected King - John 18:28-19:42,Jamie,Jamie,Verity,Hugh,Aysha?,Verity,Hugh
8,2018-01-04 00:00:00,9,The Risen King -John 20:1-29,Verity,Verity,Jamie,Jamie,Hugh-worksheet,Hugh,Hugh
9,2018-08-04 00:00:00,10,The Forgiving King -John 21:1-19,Jamie,Jamie,Hugh,Aysha?,Hugh-worksheet,Verity,Verity